test/snapshots/compiler/workflow-determinism/workflow.snapshot.json
{
  "connections": {
    "httpRequest_6": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_5",
            "type": "main"
          }
        ]
      ]
    },
    "if_2": {
      "main": [
        [
          {
            "index": 0,
            "node": "noOp_3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "set_4",
            "type": "main"
          }
        ]
      ]
    },
    "manualTrigger_1": {
      "main": [
        [
          {
            "index": 0,
            "node": "if_2",
            "type": "main"
          }
        ]
      ]
    },
    "noOp_3": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_5",
            "type": "main"
          }
        ]
      ]
    },
    "set_4": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_5",
            "type": "main"
          }
        ]
      ]
    },
    "splitInBatches_5": {
      "main": [
        [
          {
            "index": 0,
            "node": "set_7",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "httpRequest_6",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "workflow-determinism",
  "nodes": [
    {
      "name": "manualTrigger_1",
      "parameters": {},
      "position": [
        0,
        96
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "name": "if_2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.ok}}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        224,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "name": "noOp_3",
      "parameters": {},
      "position": [
        448,
        0
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "name": "set_4",
      "parameters": {
        "value": "fallback"
      },
      "position": [
        448,
        192
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "name": "splitInBatches_5",
      "parameters": {},
      "position": [
        672,
        96
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "name": "httpRequest_6",
      "parameters": {
        "method": "GET",
        "url": "https://example.com"
      },
      "position": [
        896,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "name": "set_7",
      "parameters": {
        "value": "done"
      },
      "position": [
        896,
        192
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    }
  ],
  "settings": {
    "saveExecutionProgress": true,
    "timezone": "Asia/Tokyo"
  }
}
