test/snapshots/compiler/if-for-mixed/workflow.snapshot.json
{
  "connections": {
    "if_2": {
      "main": [
        [
          {
            "index": 0,
            "node": "set_3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "noOp_8",
            "type": "main"
          }
        ]
      ]
    },
    "if_5": {
      "main": [
        [
          {
            "index": 0,
            "node": "noOp_6",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "set_7",
            "type": "main"
          }
        ]
      ]
    },
    "manualTrigger_1": {
      "main": [
        [
          {
            "index": 0,
            "node": "if_2",
            "type": "main"
          }
        ]
      ]
    },
    "noOp_6": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_4",
            "type": "main"
          }
        ]
      ]
    },
    "noOp_8": {
      "main": [
        [
          {
            "index": 0,
            "node": "set_9",
            "type": "main"
          }
        ]
      ]
    },
    "set_3": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_4",
            "type": "main"
          }
        ]
      ]
    },
    "set_7": {
      "main": [
        [
          {
            "index": 0,
            "node": "splitInBatches_4",
            "type": "main"
          }
        ]
      ]
    },
    "splitInBatches_4": {
      "main": [
        [
          {
            "index": 0,
            "node": "set_9",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "if_5",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "if-for-mixed",
  "nodes": [
    {
      "name": "manualTrigger_1",
      "parameters": {},
      "position": [
        0,
        240
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "name": "if_2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.runOuter}}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        224,
        240
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "name": "set_3",
      "parameters": {
        "scope": "outer-true"
      },
      "position": [
        448,
        144
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "name": "splitInBatches_4",
      "parameters": {},
      "position": [
        672,
        144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "name": "if_5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.innerOk}}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        896,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "name": "noOp_6",
      "parameters": {},
      "position": [
        1120,
        0
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "name": "set_7",
      "parameters": {
        "scope": "inner-false"
      },
      "position": [
        1120,
        192
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "name": "noOp_8",
      "parameters": {},
      "position": [
        672,
        384
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "name": "set_9",
      "parameters": {
        "scope": "completed"
      },
      "position": [
        896,
        336
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    }
  ],
  "settings": {}
}
